<html>
  <head>
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>

	  <div class="container">
	  <a href="/add"><button>Add</button></a>


	  {% with messages = get_flashed_messages() %}
	  {% for message in messages %}
		{{ message }}
		{%endfor %}
		{% endwith %}


		{% for friend in all_friends %}
			<div class="friend">
			  <p>Name: {{ friend['name']}}</p>
			  <p>Email: {{ friend['email']}}</p>
			  <p>ID: {{ friend['id']}}</p>
			  <p>UPDATED @: {{ friend['updated_at']}}</p>

			<a href='/delete/{{friend["id"]}}'><button>Delete</button></a>
			<a href='/edit/{{friend["id"]}}'><button>Edit</button></a>

			 </div>
		{%endfor%}


	  </div>

  </body>
</html>
