<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>

      <div class="container">
<a href='/'><button>Back </button></a>
{{ user[0]['name'] }}
{{ user[0]['email'] }}



        <form action="/edit_submit/{{ user[0]['id'] }} " method="post">
            <p>Name: <input type="text"  name="name" value="{{ user[0]['name'] }}"></p>
            <p>Email: <input type="text"  name="email" value="{{ user[0]['email'] }}"></p>
            <input type="submit" value="Submit">
        </form>
      </div>

  </body>
</html>
